<!-- ========================================= -->
<!-- !                 CTA                     -->
<!-- ========================================= -->	

<section class="custom callout navy search">
	<div class="row">
		<div class="large-12 medium-11 small-11 medium-centered small-centered columns">  
			<div class="row search">					
				<div class="large-9 columns">
					<h2 class="text-center">Are Your Ready to Find Your Attorney?</h2>
				</div>
				<div class="large-3 columns">
					<a data-toggle="attorney-search" class="button"><i class="icon-search"></i>Search</a>
				</div>
			</div><!-- row	-->	
		</div><!-- columns	-->
	</div><!-- row	-->	
</section><!-- callout	-->		
	
	
<div class="medium reveal" id="attorney-search" data-reveal>
  <h2>Find Your Attorney</h2>
  <p>Placeholder form...</p>
	<form>
		
		<label>
			Input Label
			<input type="text" placeholder="Text field">
		</label>
		
		<label>
			Search
			<span class="inline-label">
			<input type="search" placeholder="Search a thing">
			<a href="search-results.html" class="button">Search</a>
			</span>
		</label>
	</form>
	
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>