<!-- ========================================= -->
<!-- !             NAVIGATION                  -->
<!-- ========================================= -->
<header>
    <div itemscope itemtype="https://schema.org/Organization">
		<h1 itemprop="legalName" class="hide">Your Bankruptcy Attorney</h1>

		<!--     START MOBILE MENU hide-for-medium    -->
		<div class="small-devices">
        	
				<ul class="menu">
					<li class="name logo" style="display:block;">						
						<a href="/" itemprop="url" class="text-center">
							<img src="assets/img/site/yourBankruptcy-Attorney_logo.svg" alt="Your Bankruptcy Attorney" itemprop="logo">
						</a>						
					</li>						
				</ul>
				<nav>
					<ul class="menu expanded">						
						<li class="text-center"><a class="icon-home" href="index.html"><span>Home</span></a></li>
						<li class="text-center"><a class="icon-search" href="find-your-attorney.html"><span>Search</span></a></li>
						<li class="text-center"><a class="icon-question-mark" href="faq.html"><span>FAQ</span></a></li>
						<li class="text-center"><a class="icon-email" href="contact.html"><span>Contact</span></a></li>
					</ul>
				</nav>
			
		</div><!-- /row top-bar -->
		<!--     END MOBILE MENU     -->
        
            
		<!--     START DESKTOP MENU   show-for-medium  -->
		<div class="row large-devices">
			<div class="large-12 columns">

				<ul class="menu float-left">
					<li class="name logo">							
						<a href="/">
							<img src="assets/img/site/yourBankruptcy-Attorney_logo.svg" alt="Your Bankruptcy Attorney">
						</a>							
					</li>						
				</ul>


				<nav>
					<ul class="menu float-right">
						<li><a href="index.html">Home</a></li>
						<li><a href="find-your-attorney.html">Find Your Attorney</a></li>
						<li><a href="faq.html">FAQ</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</nav>

			</div>
		</div><!-- /row top-bar -->
		<!--     END DESKTOP MENU     -->


       


    </div><!-- ENDS itemtype="https://schema.org/Organization" -->

</header>