//------------------------------------
// MENU FOR LARGE DEVICES
//------------------------------------

.large-devices {
	@include breakpoint(825px) { 
		display: block;
	}
	display: none;
	.menu {
		&.float-left {
			
		}
		&.float-right{
			margin: 17px 0;
			
			
			a {
				color: #919ea6; //#959ba6; //scale-color($navy, $lightness: 50%);
				font-family: Oswald, Arial, Helvetica, sans-serif;    			
    			text-transform: uppercase;
				&:hover {
					color:$navy;
				}
			}
		}
	} 
}



//------------------------------------
// MENU FOR SMALL DEVICES
//------------------------------------

.small-devices {
	@include breakpoint(825px) { 
		display: none;
	}
	.menu {
		&.float-left {
			
		}
		&.expanded {			
			background: $orange;
			li {
				border-left: 1px solid scale-color($orange, $lightness: 15%);
			}
			a {
				border-left: 2px solid scale-color($orange, $lightness: -10%);
				padding: 1rem;
				color: $white;
				
				font-family: Oswald, Arial, Helvetica, sans-serif !important; 
				text-transform: uppercase;	
				span {
					display: none;
				}
				&:before {
					font-family: 'icomoon';
					margin-right: 0;
					font-size: 1.75rem;
					position: relative;
					top: 0;
				}
				&:hover {
					background: scale-color($orange, $lightness: 15%);
				}
				@include breakpoint(510px) {
					span {
						display: inline;
					}
					&:before {
						margin-right: .5rem;
						font-size: 1.25rem;
						top: 3px;						
					}
				}
			}
			li:first-child a{
				border-left:none;
			}
			li:first-child {
				border-left:none;
			}
			
		}
		.logo img {
				
				padding:0;
			}
		@include breakpoint(450px) { 
			.logo img {
				width:100%;
				padding:0 2rem;
			}
		}
	} 
}